@font-face {
  src: url(../font/Poppins/Poppins-Bold.ttf);
  font-family: "Poppins-Bold";
}

@font-face {
  src: url(../font/Poppins/Poppins-Regular.ttf);
  font-family: "Poppins-Regular";
}

@font-face {
  src: url(../font/Poppins/Poppins-SemiBold.ttf);
  font-family: "Poppins-SemiBold";
}

@font-face {
  src: url(../font/Scheherazade_New/ScheherazadeNew-Bold.ttf);
  font-family: "ScheherazadeNew-Bold";
}

@font-face {
  src: url(../font/Scheherazade_New/ScheherazadeNew-Regular.ttf);
  font-family: "ScheherazadeNew-Regular";
}

@font-face {
  src: url(../font/Scheherazade_New/ScheherazadeNew-SemiBold.ttf);
  font-family: "ScheherazadeNew-SemiBold";
}

@font-face {
  src: url(../font/Fira_Sans/FiraSans-Bold.ttf);
  font-family: "FiraSans-Bold";
}

@font-face {
  src: url(../font/Fira_Sans/FiraSans-Regular.ttf);
  font-family: "FiraSans-Regular";
}

@font-face {
  src: url(../font/Fira_Sans/FiraSans-SemiBold.ttf);
  font-family: "FiraSans-SemiBold";
}

@font-face {
  src: url(../font/DM_Sans/DMSans-Bold.ttf);
  font-family: "DMSans-Bold";
}

@font-face {
  src: url(../font/DM_Sans/DMSans-Regular.ttf);
  font-family: "DMSans-Regular";
}

@font-face {
  src: url(../font/DM_Sans/DMSans-SemiBold.ttf);
  font-family: "DMSans-SemiBold";
}

@font-face {
  src: url(../font/Public_Sans/PublicSans-Bold.ttf);
  font-family: "PublicSans-Bold";
}

@font-face {
  src: url(../font/Public_Sans/PublicSans-Regular.ttf);
  font-family: "PublicSans-Regular";
}

@font-face {
  src: url(..font/Public_Sans/PublicSans-SemiBold.ttf);
  font-family: "PublicSans-SemiBold";
}

@font-face {
  src: url(../font/Inter/Inter_28pt-Bold.ttf);
  font-family: "Inter-Bold";
}

@font-face {
  src: url(../font/Inter/Inter_28pt-Medium.ttf);
  font-family: "Inter-Medium";
}

@font-face {
  src: url(../font/Inter/Inter_28pt-Regular.ttf);
  font-family: "Inter-Regular";
}

@font-face {
  src: url(../font/Inter/Inter_28pt-SemiBold.ttf);
  font-family: "Inter-SemiBold";
}

@font-face {
  src: url(../font/Space_Grotesk/SpaceGrotesk-Regular.ttf);
  font-family: "SpaceGrotesk-Regular";
}

html {
  width: 100%;
  margin-top: 0 !important;
}


body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 25px;
}

p,
li {
  font-size: 16px;
  color: #000;
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  width: 100%;
}

section {
  padding: 30px;
  width: 100%;
  overflow: hidden;
}

.site-header {
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(149 157 165 / 0.2) 0 8px 24px;
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 9;
}

.site-identity img {
  width: 180px;
}

.site-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  text-decoration: none;
  font-weight: 600;
  padding: 5px 40px;
  transition-duration: 1s;
  color: #154e36;
  font-family: "Poppins-Bold";
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid #154E36;
}

.site-navigation a:hover {
  color: #fff;
  background: #154e36;
}

section.banner-section-mob {
  padding: 30px 10px;
}

.luxury-redefined-wrapper h3 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  font-family: "ScheherazadeNew-SemiBold";
}

.luxury-redefined-wrapper p {
  color: #4d4d4d;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
  font-family: DMSans-Regular;
}

.floorplan-slider {
  padding-top: 20px;
}

.luxury-exclusive-title {
  width: 95%;
  margin: auto;
}

.luxury-enquiry-content {
  padding: 0 10px;
}

.luxury-exclusive-img {
  position: relative;
  border: 1px solid #000000a8;
}

.luxury-exclusive-img img {
  width: 100%;
}

.luxury-enquiry-wrapper {
  padding: 20px 0 30px;
}

.floorplan-slider.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
  color: inherit;
  text-decoration: none;
}

.floorplan-slider.owl-theme .owl-nav {
  margin: 20px;
  float: right;
  display: flex;
  gap: 20px;
}

.luxury-exclusive-img .enquiry-btn {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.luxury-enquiry-content .enquiry-btn a {
  color: #fff;
  text-decoration: none;
  background-color: #154e36;
  border: 1px solid #154e36;
  width: 125px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-family: "PublicSans-Regular";
}

section.Luxury-Redefined {
  background: #f1fff9;
  padding: 60px 30px;
}

.luxury-enquiry-content .enquiry-btn a:hover {
  color: #fff;
  text-decoration: none;
}

.luxury-enquiry-content .enquiry-btn a:active {
  color: #fff;
  text-decoration: none;
}

.luxury-enquiry-content .enquiry-btn a:visited {
  color: #fff;
  text-decoration: none;
}

.luxury-enquiry-content p {
  margin-top: 15px;
  font-family: "PublicSans-Regular";
  font-weight: 400;
  line-height: 20px;
  font-size: 17px;
}

.floorplan-slider .owl-dots {
  display: none;
}

.luxury-apatment-content {
  width: 80%;
  margin-left: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.luxury-apatment-content-3 {
  width: 80%;
  margin: auto;
}

.luxury-apatment-content h3 {
  font-size: 35px;
  font-weight: 400;
  margin-top: 0;
}

.luxury-apatment-content h4,
.luxury-apatment-content-2 h4,
.luxury-apatment-content-3 h4 {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
}

.luxury-apatment-content p,
.luxury-apatment-content-2 p,
.luxury-apatment-content-3 p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
}

.luxury-apatment-content p b,
.luxury-apatment-content-2 p b,
.luxury-apatment-content-3 p b,
.luxury-apatment-content p strong,
.luxury-apatment-content-2 p strong,
.luxury-apatment-content-3 p strong {
  color: #000;
}

.luxury-apatment-content-2 {
  margin: 0 0 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.luxury-apatment-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.luxury-amenitie-content-wrapper {
  width: 100% !important;
  margin-bottom: 20px;
}

.luxury-apatment-content-2-wrapper {
  padding: 70px 0;
}

.luxury-apatment-content-3-wrapper {
  padding: 0 0 70px;
  width: 100%;
  margin: auto;
}

.luxury-amenitie-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  min-height: 50px;
  padding: 0 10px;
}

.luxury-amenitie-content-wrapper .row>div:not(:first-child) .luxury-amenitie-content {
  border-left: 1.5px solid #000;
}

.luxury-amenitie-content p {
  margin-left: 10px;
  color: #000;
  font-size: 11px;
}

.luxury-apatment-content-2 .amenitie-icon-img img {
  width: 45px;
}

.luxury-apatment-content-2 p {
  margin-bottom: 0;
  width: 90%;
}

.Masterplan-conent {
  background-image: url(../image/Background-image.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

section.Masterplan {
  padding: 0;
  overflow: hidden;
}

.Masterplan-image {
  padding: 0;
}

.Masterplan-conent h3 {
  font-family: "ScheherazadeNew-regular";
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #fff;
  padding: 10px 0;
}

.Masterplan-inner li {
  list-style: disc;
  color: #fff;
  font-family: "DMSans-Regular";
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
}

.Masterplan-inner {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  width: 90%;
}

.Masterplan-main {
  display: flex;
}

.location-tab p img {
  width: 40px;
  margin-bottom: 10px;
}

.location-tab p img.active {
  color: #000;
}

.location-tab p {
  width: 100%;
  color: #fff;
  font-size: 10px;
  text-align: center;
  margin: 0;
}

.location-tab {
  display: flex;
  width: 50%;
  flex-direction: row;
  border-bottom: 1.5px solid #66666663;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.location-slider .locations,
.location-seo-img-wrapper .location-seo-img {
  display: none;
}

.location-slider .locations.active,
.location-seo-img-wrapper .location-seo-img.active {
  display: block;
}

.location-slider {
  padding-top: 10px;
  width: 100%;
}

.location-slider-wrapper {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.location-seo-img-wrapper img {
  width: 100%;
  transition: all 2s ease-in-out;
}

.location-slider-content h4 {
  font-size: 17px;
  margin-bottom: 20px;
  border-bottom: 1.5px solid #66666663;
  padding-bottom: 10px;
}

.location-slider-content table tr,
.location-slider-content table td {
  border: none;
  color: #fff;
  font-size: 15px;
  font-family: "DMSans-Regular";
  font-weight: 500 !important;
}

.location-slider-content .table>tbody>tr>td {
  border: none;
  padding: 4px;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 7px;
  width: 80%;
}

section.locationsection {
  padding: 30px 0;
  overflow: hidden;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-left: 14px;
}

.location-slider-content table tr {
  position: relative;
}

.location-slider-content table tr td:nth-child(2) {
  color: #fff;
  font-weight: 600;
  width: 20%;
}

.location-slider-content .table tr::before {
  content: "•";
  font-size: 20px;
  color: #fff;
  position: absolute;
  left: -10px;
}

.locations,
.location-seo-img {
  display: none;
}

.locations.active,
.location-seo-img.active {
  display: block;
}

.location-sub-1 {
  background-image: url(../image/Background-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.location-sub-2 {
  padding: 0;
}

.location-seo-wrapper h2 {
  text-align: center;
  color: #154e36;
  padding: 20px;
  font-family: "ScheherazadeNew-Bold";
  font-size: 40px;
  background: #f1fff9;
  line-height: 35px;
  letter-spacing: 1px;
}

h3.faq-question {
  color: #000;
}

.faq-answer p {
  color: #000;
}

.faq-answer li {
  color: #000;
}

.faq-section .faqs-container {
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
}

.faqrow-main:last-child {
  border-bottom: 0;
}

.faq-section .faq-singular {
  position: relative;
  padding: 20px 30px 20px 0;
  width: 100%;
  box-shadow: 0 4px 6px rgb(0 0 0 / 0.1);
}

.faq-main {
  padding: 0;
}

.faq-main h3.sub-heading {
  color: #154e36;
  font-family: "ScheherazadeNew-SemiBold";
  font-size: 40px;
  line-height: 35px;
}

.faq-singular .faq-question {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  font-weight: 500;
  font-size: 25px;
  font-family: "ScheherazadeNew-SemiBold";
}

.faq-singular .faq-question:before {
  position: absolute;
  content: "+";
  color: #fff;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: 700;
  transition: all 0.5s;
  background: #154e36;
  border-radius: 50px;
  padding: 4px 10px;
  font-family: "Archivo-Regular";
}

.faq-singular.active .faq-question:before {
  transform: translateY(-50%) rotate(45deg) scale(1.3);
  padding: 0 7px;
  background: #898b8e;
  color: #e9fff6;
}

.faqs-container .faq-answer {
  display: none;
  padding: 20px 0 20px 30px;
}

.faq-singular.active {
  background: #e9fff6;
}

.faq-answer p {
  color: #606267;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter-Regular";
}

.blog-section {
  margin-bottom: 25px;
  display: none;
}

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.blog-header h2 {
  color: #154e36;
  font-size: 40px;
  font-weight: 500;
  font-family: "ScheherazadeNew-Bold";
  line-height: 45px;
  margin-bottom: 20px;
}

.blog-header a {
  text-decoration: none;
  color: #154e36;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter-Regular";
  line-height: 25px;
}

.blog-container {
  display: flex;
  gap: 20px;
}

.blog-card {
  width: 33.3%;
  background: #fff;
  overflow: hidden;
}

.blog-card img {
  width: 100%;
  object-fit: cover;
}

.blog-content {
  margin: 20px 0;
}

.blog-date {
  font-size: 14px;
  color: #4c4c4c;
  margin-bottom: 10px;
  font-family: "Inter-Regular";
  line-height: 2;
}

.blog-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "ScheherazadeNew-Bold";
  line-height: 35px;
}

.blog-description {
  font-size: 16px;
  color: #6d6f7d;
  line-height: 1.7;
  font-family: "Inter-Regular";
  font-weight: 400;
}

section.Download-Brochure {
  background-image: url(../image/Download-Brochure-Background-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}

.conent-div {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  width: 100%;
  text-align: center;
}

.conent-div h2 {
  letter-spacing: 2px;
  font-size: 40px;
  color: #fff;
  font-family: "ScheherazadeNew-SemiBold";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
  margin-bottom: 20px;
}

.conent-div p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter-Regular";
  line-height: 1;
  letter-spacing: 1.1px;
}

.conent-div a {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
  font-family: "ScheherazadeNew-SemiBold";
  padding: 0 40px;
  background: #154e36;
  border-radius: 10px;
}

.download-a {
  margin-top: 30px;
}

footer.footer {
  padding: 35px 30px 0;
  background: #154e36;
}

.footer-container.container-fluid {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
}


.conact_us_cls h2 {
  font-size: 25px;
  font-family: "Poppins-SemiBold";
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.conact_us_cls p {
  color: #fff;
  font-size: 14px;
  font-family: "Poppins-Regular";
  line-height: 30px;
}

.footer-right {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.footer-logos {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  transform: translateX(-40px);
}

.footer-left p {
  margin-top: 15px;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins-Regular";
  line-height: 30px;
}

.ringing {
  animation: ring 1s infinite;
  transform-origin: center;
  display: inline-block;
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(-5deg);
  }

  70% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

.footer-links a {
  color: #fff;
  font-size: 18px;
  font-family: "Poppins-Regular";
  line-height: 40px;
}

.footer-left h2 {
  font-size: 30px;
  font-family: "Poppins-SemiBold";
  color: #fff;
  text-transform: uppercase;
}

.footer-bottom {
  background: #14422e;
  padding: 15px 30px;
  width: 100%;
}

.footer-bottom p {
  color: #fff;
  font-size: 16px;
  font-family: "Poppins-Regular";
}

.footer-bottom-links {
  display: flex;
  justify-content: end;
  gap: 30px;
}

.footer-bottom-links a {
  color: #fff;
  font-size: 16px;
  font-family: "Poppins-Regular";
  font-weight: 400;
}

.footer-logos img {
  width: auto;
}

.download-item {
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

.download-item img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 10px;
}

.download-item p {
  font-weight: 700;
  margin: 0;
}

.download-sub {
  display: flex;
  justify-content: center;
}

.download-section {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  justify-content: center;
}

.download-item span {
  color: #000;
  font-family: "ScheherazadeNew-SemiBold";
  font-size: 25px;
  font-weight: 700;
  margin: 10px 0;
}

.gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto auto;
  width: 100%;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-1 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: auto auto;
  width: 100%;
}

.gallery-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headeing h2 {
  text-align: center;
  padding: 20px;
  color: #154e36;
  font-family: "ScheherazadeNew-SemiBold";
  font-size: 40px;
}

.luxury-features {
  background-image: url(../image/Background-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
}

.image-feature {
  padding: 0;
}

section.feature-section {
  padding: 30px 0;
  margin: 0;
  overflow: hidden;
}

.luxury-features h3 {
  color: #fff;
  font-family: "ScheherazadeNew-SemiBold";
  font-size: 30px;
  margin-bottom: 5px;
}

.luxury-features p {
  color: #fff;
  font-family: "DMSans-Regular";
  margin: 10px 0;
}

.features-grid h2 {
  font-size: 28px;
  font-weight: 700;
}

.feature-section h2 {
  text-align: center;
  color: #154e36;
  padding: 20px;
  font-family: "ScheherazadeNew-Bold";
  font-size: 40px;
  background: #f1fff9;
  line-height: 35px;
  letter-spacing: 1px;
}

.features-grid p {
  font-size: 16px;
  margin-bottom: 20px;
}

.features-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  margin-top: 10px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}

.feature img {
  width: 30px;
  height: 30px;
}

.feature span {
  font-size: 16px;
  color: #fff;
}
.mani_banner_div img.desktop_banner-new {
    width: 100%;
    transform: translateY(80px);
}
section.banner-section {
  padding: 0;
}

.banner-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../image/coming-soon-banner-destop.png);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
  color: #fff;
  text-decoration: none;
}

.site-identity h2 {
  color: #154e36;
  font-family: "Poppins-Bold";
  font-size: 35px;
  text-transform: uppercase;
}

.banner-form {
  background: rgb(255 255 255 / 0.9);
  padding: 30px;
  border-radius: 15px;
  max-width: 450px;
  width: 100%;
  margin-right: 7%;
  box-shadow: 0 4.62px 4.62px 0 rgb(0 0 0 / 0.2);
  float: right;
  margin-top: 5%;
}

.banner-form h2,
.banner-form-mob h2 {
  font-size: 25px;
  font-family: "ScheherazadeNew-SemiBold";
}

.banner-form-mob {
  padding: 10px;
  border: 1px solid #0e5c2f;
  border-radius: 10px;
  margin-top: 10px;
}

.banner-form p,
.banner-form-mob p {
  font-size: 16px;
  color: #1b1b1b;
  font-family: "Poppins-Regular";
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 0;
  font-size: 16px;
  border: none;
  background: none;
  border: 1px solid #b8bfb68c;
  color: #1b1b1b !important;
  font-family: "Poppins-Regular";
  background: #fff;
}

.form-text {
  font-size: 14px;
  color: #1b1b1b !important;
  font-family: "Poppins-Regular";
  padding: 10px;
}

.btn-primary {
  background: #0e5c2f;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #094d27;
}

.second-cont {
  color: #fff;
  text-align: left;
}

.second-cont h2 {
  font-size: 24px;
  margin-bottom: 15px;
  font-family: "FiraSans-SemiBold";
}

.highlights {
  list-style-type: none;
  padding: 0;
}

.highlights li {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "FiraSans-regular";
}

.first-cont h1 {
  color: #154e36;
  font-family: "Poppins-Bold";
  font-size: 50px;
  line-height: 2;
  text-transform: uppercase;
}

.first-cont p {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: FiraSans-regular;
  line-height: 32px;
}

.project-btn {
  transform: translateY(20px);
}

.project-btn a {
  color: #fff;
  font-family: FiraSans-semibold;
  padding: 15px 20px;
  background: #154e36;
  transition-duration: 1s;
}

.project-btn a:hover {
  color: #154e36;
  background: #fff;
  border: 2px solid #154e36;
}

.project-high-main.row {
  align-items: center;
}

.first-cont {
  padding: 0 20px;
  transform: translateY(-20px);
}

.second-cont {
  background-image: url(../image/first-section.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 30px;
}



#name::placeholder,
#phone::placeholder,
#email::placeholder,
#interest::placeholder {
  color: #1b1b1b;
}

section.banner-section {
  display: block;
}

section.banner-section-mob {
  display: none;
}

a.menu-link {
  top: 50%;
  position: fixed;
  right: -50px;
  transform: rotate(-90deg);
  background: #fff;
  color: #154e36;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
  z-index: 999;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid #154e36;
  font-family: "Poppins-SemiBold";
}

.Form-change .form-control {
  border: none;
  border-bottom: 1px solid #e0e5e2;
  padding: 20px;
}

#enquiry-form h5#exampleModalLabel2 {
  font-family: "Poppins-Regular";
}

#enquiry-form .modal-content {
  border-radius: 0;
  width: 600px;
  padding: 20px;
}

.Form-change-sub {
  width: 100%;
  padding: 10px;
  background: #094d27;
  border-radius: 0;
  color: #fff;
  font-family: "Poppins-Regular";
  font-size: 18px;
}

.Form-change-sub:hover {
  color: #094d27;
  background: #fff;
  border: 1px solid #094d27;
}

section.conent-section_new {
  background: #F1FFF9;
}

.conent-div_new h2 {
  color: #154E36;
  padding: 20px 0;
  font-family: 'ScheherazadeNew-Bold';
  font-size: 35px;
  background: #F1FFF9;
  line-height: 35px;

}

.conent-div_new h3 {
  color: #154E36;
  padding: 20px 0;
  font-family: 'ScheherazadeNew-Bold';
  font-size: 30px;
  background: #F1FFF9;
  line-height: 35px;
}

.conent-div_new h4 {
  padding: 20px 0;
  font-family: 'ScheherazadeNew-Bold';
  font-size: 25px;
  background: #F1FFF9;
  line-height: 35px;
}

.conent-div_new p {
  font-weight: 400;
  line-height: 25px;
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
  font-family: DMSans-Regular;
  text-align: justify;
}

.conent-div_new li {
  list-style: disc;
  font-family: 'DMSans-Regular';
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;

}
.banner-video-section {
  position: relative;
  width: 100%;
  height: 600px; /* adjust height as needed */
  overflow: hidden;
}

.banner-video-section video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
}

.banner-video-section .video-mobile {
  display: none;
}

@media screen and (max-width: 1400px) {
  .luxury-feature-slider-wrapper {
    margin: 60px 0 0 120px;
  }
}

@media screen and (max-width: 1300px) {
  .luxury-features {
    padding: 15px;
  }

  .feature img {
    width: 20px;
    height: 20px;
  }

  .conact_us_cls p {
    color: #fff;
    font-size: 12px;
  }

  .banner-section {
    height: 95vh;
  }
}

@media screen and (max-width: 1200px) {
  .feature {
    padding: 4px;
  }

  footer.footer {
    padding: 35px 10px 0;
    background: #154e36;
  }

  .feature img {
    width: 20px;
    height: 20px;
  }

  .feature span {
    font-size: 15px;
  }

  .highlights li {
    font-size: 14px;
  }
}

@media screen and (max-width: 1100px) {
  .luxury-feature-slider .owl-nav {
    top: -40px;
  }

  .luxury-redefined-wrapper h3 {
    font-size: 35px;
  }

  .first-cont {
    padding: 20px;
  }

  .luxury-redefined-wrapper p {
    font-size: 16px;
  }

  .luxury-enquiry-content {
    text-align: center;
  }

  .luxury-exclusive-img {
    width: 100%;
    margin: auto;
  }

  .luxury-apatment-content {
    margin: 0;
    padding: 0 10px;
    width: 100%;
  }

  .luxury-apatment-content-2-wrapper {
    padding: 20px 0;
  }

  .luxury-apatment-content-2 {
    margin: 0;
    padding: 0 10px;
    width: 96%;
  }

  .luxury-apatment-content-2 p {
    width: 100%;
  }

  .luxury-amenitie-content-wrapper {
    width: 100% !important;
  }

  .luxury-apatment-content-3 {
    width: 96%;
    margin: auto;
  }

  .location-seo-wrapper {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .luxury-redefined-wrapper h3 {
    margin: 0;
  }

  .second-cont {
    margin-top: 30px;
  }



  .Masterplan-inner {
    z-index: 2;
    position: static;
    transform: none;
    padding: 20px;
    width: 100%;
  }

  .footer-container.container-fluid {
    grid-template-columns: 1fr !important;
  }

  .footer-right {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .footer-left p {
    width: 90%;
    margin: 0 auto;
  }

  .footer-logos {
    justify-content: center;
    transform: none;
  }

  .footer-bottom-links {
    justify-content: center;
  }

  .location-tab {
    width: 100%;
    margin: auto;
    padding: 20px 0;
  }

  .Masterplan-main {
    display: block;
  }

  .luxury-redefined-wrapper {
    padding: 0 10px;
  }

  section.banner-section {
    display: none;
  }

  section.banner-section-mob {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .blog-container {
    flex-direction: column;
  }

  .download-section {
    grid-template-columns: 2fr;
  }

  .blog-card {
    width: 100%;
  }

  .site-identity h2 {
    font-size: 28px;
  }

  .site-navigation a {
    padding: 5px 20px;
  }
}

@media screen and (max-width: 800px) {
  .blog-header h2 {
    font-size: 35px;
    line-height: 35px;
  }

  .site-header {
    padding: 20px;
  }

}
@media (min-width: 769px) {
  .banner-video-section .video-desktop {
    display: block;
  }
  .banner-video-section .video-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .blog-title {
    font-size: 22px;
  }
  .banner-video-section .video-desktop {
    display: none;
  }
  .banner-video-section .video-mobile {
    display: block;
  }
  .banner-section {
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  .banner-form {
    width: 90%;
    margin: 0;
  }

  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .conent-div h2 {
    font-size: 30px;
    line-height: 30px;
  }

  .conent-div p {
    font-size: 18px;
    letter-spacing: 0.8px;
  }

  .footer-container.container-fluid {
    grid-template-columns: 2fr;
  }

  .download-section {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .site-identity img {
    width: 130px;
  }

  .site-identity h2 {
    font-size: 22px;
  }

  .first-cont {
    padding: 40px 10px;
  }

  a.menu-link {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: auto;
    transform: rotate(0deg);
    width: 100%;
    text-align: center;
    border-radius: 0;
    z-index: 9999;
    background: #154e36;
    color: #fff;
  }

  ul.footer-links {
    padding: 0;
    margin: 0;
  }

  .footer-left h2 {
    font-size: 25px;
  }

  .footer-left p {
    font-size: 18px;
    line-height: 28px;
    font-family: "Poppins-Regular";
    width: 100%;
    margin: 20px 0;
  }

  .footer-links a {
    font-size: 16px;
    line-height: 35px;
  }

  .site-header {
    padding: 20px;
  }

  .site-navigation a {
    padding: 0 20px;
    font-size: 16px;
  }

  .footer-logos {
    margin: 20px 0;
  }

  section.Luxury-Redefined {
    padding: 10px 0;
  }

  .Masterplan-conent {
    margin-bottom: 10px;
  }

  .Masterplan-inner {
    padding: 10px 0;
  }

  .Masterplan-conent h3 {
    font-size: 30px;
  }

  .Masterplan-image {
    margin-bottom: 10px !important;
  }

  .conent-div {
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .footer-bottom-links {
    display: block;
    margin: 10px 0;
  }

  .conent-div_new h2 {
    font-size: 25px;
    padding: 10px 0;
  }

  .conent-div_new p {
    font-size: 16px;
    padding: 10px 0;
  }

  .conent-div_new h3 {
    font-size: 25px;
    padding: 10px 0;
  }

  .conent-div_new h4 {
    font-size: 20px;
    padding: 10px 0;
  }

  .conent-div_new li {
    font-size: 16px;
  }

  .footer-left,
  .conact_us_cls {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
  }

  .footer-bottom-links {
    text-align: center;
  }

  .site-navigation a {
    padding: 0 10px;
    font-size: 16px;
  }

  .site-identity h2 {
    font-size: 16px;
  }

  .footer-bottom p {
    font-size: 12px;
  }

  .footer-bottom-links a {
    font-size: 14px;
  }

  .footer-bottom {
    text-align: center;
  }

  .features-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-bottom {
    padding: 10px;
  }

  .blog-section {
    padding: 10px 0;
  }

  .blog-header {
    display: block;
  }

  footer.footer {
    padding: 10px;
  }

  section.gallery-section {
    padding: 10px;
  }

  .headeing h2 {
    font-size: 35px;
  }

  .faq-singular .faq-question {
    font-size: 20px;
  }

  .faq-answer p {
    font-size: 16px;
  }

  section.faq-section-main {
    padding: 10px 0;
  }


  .second-cont {
    padding: 20px;
  }

  section.conent-section_new {
    padding: 30px 10px;
  }
}

@media screen and (max-width: 450px) {
  .location-slider-content .table>tbody>tr>td {
    font-size: 13px;
  }

  .first-cont h1 {
    font-size: 40px;
    line-height: unset;
  }

  .conact_us_cls p {
    color: #fff;
    font-size: 12px;
  }

  .Masterplan-inner li {
    font-size: 14px;
  }

  section.banner-section-mob {
    display: block;
    padding: 0 10px;
  }

  .conent-div p {
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 30px;
  }

  .project-btn a {
    padding: 10px 5px;
  }

  .footer-left p {
    font-size: 14px;
  }

  .Masterplan-conent h3 {
    font-size: 25px;
    line-height: 30px;
  }

  .first-cont p {
    font-size: 14px;
    line-height: unset;
  }

  .conent-div a {
    font-size: 25px;
  }

  .luxury-redefined-wrapper h3 {
    font-size: 30px;
  }

  .headeing h2 {
    font-size: 30px;
  }

  .location-seo-wrapper h2 {
    font-size: 35px;
  }

  .feature-section h2 {
    font-size: 35px;
  }

  .faq-main h3.sub-heading {
    font-size: 35px;
  }

  .site-header {
    padding: 10px;
  }
  .site-navigation a {
        padding: 0 0px;
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
  .site-identity img {
    width: 100px;
  }
}

@media screen and (max-width: 320px) {
  .site-header {
    padding: 10px;
  }
}
